.form {
  position: absolute;
  width: 400px;
  border: 1px solid rgba(51,31,102,1);
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 40px 40px;
}
.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: rgba(126,0,255,1);
}
.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.input-text {
  padding: 10px;
  border: 1px solid rgba(51,31,102,1);
  border-radius: 5px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: rgba(126,0,255,1);
  color: #fff;
  border: none;
  transition: all 0.3s ease 0s;

  &:hover {
    cursor: pointer;
    background-color: rgba(51,31,102,1);
  }
}
.signup-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  left: 50%;
  top: 468px;
  transform: translate(-50%, 0);
}