.form {
  position: absolute;
  width: 400px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 40px 40px;
  background-color: #FA9884;
  transition: all 0.3s ease 0s;
}
.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.input_text {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.buttons_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  background-color: #E74646;
  transition: all 0.3s ease 0s;

  &:hover {
    cursor: pointer;
    background-color: #e75a5a;
  }
}

[class~="dark_wrapper"] {
  .form {
    background-color: #917FB3;
  }
  .title {
    color: #2A2F4F;
  }
  .button {
    background-color: #2A2F4F;

    &:hover {
      background-color: #373d66;
    }
  }
}