.profile__body {
  position: relative;
}
.profile__header {
  padding-top: 40px;
}
.link-back {
  font-size: 24px;
  font-weight: 600;
  color: rgba(51,31,102,1);
  transition: all 0.3s ease 0s;

  &:hover {
    cursor: pointer;
    color: rgb(75, 2, 148);
  }
}
.profile__main {
  position: absolute;
  padding-top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}
.info {
  color: rgb(107, 92, 145);
  font-size: 36px;
  margin-bottom: 30px;
}
.name__container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.info__name {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(75, 2, 148);
}
.delete {
  display: none;
}
.name__button {
  border-radius: 5px;
  padding: 0 10px;
}
.myname {
  color: rgba(51,31,102,1);
  font-weight: 600;
  font-size: 20px;
}
.email__container {
  display: flex;
  gap: 20px;
}
.info__email {
  font-size: 20px;
  font-weight: 600;
  color: rgba(51,31,102,1);
}
.info-title {
  color: rgb(107, 92, 145);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}