.login_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  left: 50%;
  top: 468px;
  transform: translate(-50%, 0);
}
.login_text {

}
.login_link {
  font-style: italic;
  transition: all 0.3s ease 0s;
}

[class~="dark_wrapper"] {
  .login_link {
    color: #fff;
  }
}